body, html {
	color: #000;
	background-color: #fff ;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

footer {
	display: block;
	border-top: 1px solid #e5e5e5;
	margin-top: 70px;
	padding: 20px;
	text-align: center;
}
.sidebar-nav {
	padding: 9px 0;
}

.class-info {
	display: none;
}

.race-info {
	display: none;
}

.std-arr-ability {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 5px;
	padding: 4px;
	background-color:  #efefef;
}

.ability-text {
	padding-left: 5px;
}

.ability-id {
	display: none;
}

#racial-ability-bonus-list {
	display: none;
}

.human-bonus-dom {
	display: none;
}

option:disabled {
	color: rgb(204, 46, 46);
}

#skill-bonus {
	padding-top: 15px;
}

.feat {
	margin-top: 10px;
}

.feat-name, feat-benefit {
	display: block;
}