body, html {
	color: #000;
	background-color: #fff ;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

footer {
	display: block;
	border-top: 1px solid #e5e5e5;
	margin-top: 70px;
	padding: 20px;
	text-align: center;
}
.sidebar-nav {
	padding: 9px 0;
}

.class-info {
	display: none;
}

.race-info {
	display: none;
}

.std-arr-ability {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 5px;
	padding: 4px;
	background-color:  #efefef;
}

.ability-text {
	padding-left: 5px;
}

.ability-id {
	display: none;
}

#racial-ability-bonus-list {
	display: none;
}

.human-bonus-dom {
	display: none;
}

option:disabled {
	color: rgb(204, 46, 46);
}

#skill-bonus {
	padding-top: 15px;
}

.feat {
	margin-top: 10px;
}

.feat-name, feat-benefit {
	display: block;
}


.power {
	margin-bottom: 10px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	boder-radius: 4px;
}

.power-header {
	height: 1.5em;
	padding: 5px;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	color: #ffffff;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.power-body {
	padding: 5px;
}

.at-will {
	background-color: #5a8e61;	
}
.encounter {
	background-color: #801c31;
}
.daily {
	background-color: #3f4241;
}

.power-flavor {
	font-style: italic;
	background-color: #e9e9e9;
}
.bolder {
	font-weight: bold;
}

#character-notes {
	resize: none;
}