body, html {
	color: #000;
	background-color: #fff ;
}
#content-header {
	text-align: center;
}

#builder-nav {
	text-align: center;
}

#abilities {
	display: none;
}

#skills {
	display: none;
}

#powers {
	display: none;
}

.class-info {
	display: none;
}

.race-info {
	display: none;
}

#standard-array-abilities {
	list-style-type: none;
}

.std-arr-ability {
	padding-top: 5px ;
}