body, html {
	color: #000;
	background-color: #fff ;
}
#content-header {
	text-align: center;
}

#builder-nav {
	text-align: center;
}

#abilities {
	display: none;
}

#skills {
	display: none;
}

#powers {
	display: none;
}

.class-info {
	display: none;
}

.race-info {
	display: none;
}

.std-arr-ability {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 5px;
	padding: 4px;
	background-color:  #efefef;
}

.ability-text {
	padding-left: 5px;
}

.ability-id {
	display: none;
}

#ability-form {
	display: none;
}