{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{% static "character_builder/css/main.css" %}" rel="stylesheet" type="text/css" media="screen">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
        {% block js %}{% endblock %}

        <title>DnD 4e Character Builder</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{% url character-builder-user-home %}">Character Builder</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            {% if user.is_authenticated %}
                            Welcome, <a href="#" class="navbar-link">{{ user.username }}</a>
                            {% else %}
                            Please Login
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
        {% block content %}{% endblock %}
        </div>
        <footer>
            <p>
                <i class="icon-user"></i><a href="http://www.ateoto.com">Matt McCants</a> 
                <i class="icon-github"></i><a href="https://github.com/Ateoto/django-character-builder">Source</a>
            </p>
        </footer>
    </body>
</html>
