{% extends "character_builder/base.html" %}
{% load staticfiles %}
{% block js %}
<script src="{% static "js/main.js" %}"></script>
{% endblock %}
{% block content %}
<div id="builder" class="row">
    <div id="content-header" class="span12">
        <h3>Character Builder</h3>
    </div>
    <div id="builder-nav" class="span12">
        <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-radio">
                <a id="btn-personal" class="btn btn-large" href="#personal">Personal</a>
                <a id="btn-abilities" class="btn btn-large" href="#abilities">Abilities</a>
                <a id="btn-skills" class="btn btn-large" href="#skills">Skills</a>
                <a id="btn-powers" class="btn btn-large" href="#powers">Powers</a>
            </div>
        </div>
    </div>
    <div id="builder-ux" class="span4">
        <div id="personal" class="span4">
            {% for field in character_form %}
                {{ field.errors }}
                {{ field.label_tag }}{{ field }}
            {% endfor %}
        </div>
        <div id="abilities" class="span4">
            <ul id="standard-array-abilities" class="row unstyled">
                {% for ability in abilities %}
                <li id="std-arr-{{ ability.abbreviation }}" class="span3 std-arr-ability" data-placement="right" data-content="{{ ability.help_text }}" title="{{ ability.name }}">
                    <span class="badge badge-info">0</span>
                    <span class="ability-text">{{ ability.name }}</span>
                    <i class="icon-reorder pull-right"></i>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="skills" class="span4">
            Skills Coming Soon-ish.
        </div>
        <div id="powers" class="span4">
            Powers Coming eventually.
        </div>
    </div>
    <div id="info" class="span8">
        <div id="ability-info">
            <p>Set your ability scores by reordering the list to the left. These values are based on the Standard Array, and reflect your scores before your racial bonuses are applied.</p>
        </div>
        {% for race in races %}{{ race.html|safe }}{% endfor %}
        {% for classtype in classtypes %}{{ classtype.html|safe }}{% endfor %}
    </div>
</div>
{% endblock %}