{% extends "character_builder/base.html" %}
{% block js %}
<script src="{{ STATIC_URL }}js/main.js"></script>
{% endblock %}
{% block content %}
<div id="builder" class="row">
    <div id="content-header" class="span12">
        <h3>Character Builder</h3>
    </div>
    <div id="builder-nav" class="span12">
        <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-radio">
                <a id="btn-personal" class="btn btn-large" href="#personal">Personal</a>
                <a id="btn-abilities" class="btn btn-large" href="#abilities">Abilities</a>
                <a id="btn-skills" class="btn btn-large" href="#skills">Skills</a>
                <a id="btn-powers" class="btn btn-large" href="#powers">Powers</a>
            </div>
        </div>
    </div>
    <div id="builder-ux">
        <div id="personal" class="span4">
            {% for field in character_form %}
                {{ field.errors }}
                {{ field.label_tag }}{{ field }}
            {% endfor %}
        </div>
        <div id="abilities" class="span4">
            <ul id="standard-array-abilities" class="thumbnails">
                <li id="std-arr-str" class="span3 std-arr-ability"><span class="badge">16</span>Strength</li>
                <li id="std-arr-con" class="span3 std-arr-ability"><span class="badge">14</span>Constitution</li>
                <li id="std-arr-dex" class="span3 std-arr-ability"><span class="badge">13</span>Dexterity</li>
                <li id="std-arr-int" class="span3 std-arr-ability"><span class="badge">12</span>Intelligence</li>
                <li id="std-arr-wis" class="span3 std-arr-ability"><span class="badge">11</span>Wisdom</li>
                <li id="std-arr-cha" class="span3 std-arr-ability"><span class="badge">10</span>Charisma</li>
            </ul>
        </div>
        <div id="skills" class="span4">
            Skills
        </div>
        <div id="powers" class="span4">
            Powers
        </div>
    </div>
    <div id="info" class="span8">
        {% for race in races %}{{ race.html|safe }}{% endfor %}
        {% for classtype in classtypes %}{{ classtype.html|safe }}{% endfor %}
    </div>
</div>
{% endblock %}