{% extends "character_builder/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block js %}
<script src="{% static "js/CharacterBuilder.js" %}"></script>
<script src="{% static "js/sheet.js" %}"></script>
{% endblock %}
{% block content %}
<div id="character-sheet">
    <div class="row-fluid">
        <div class="page-header" class="span12">
            <h1>{{ character.name }} <small>Level {{ character.level }} {{ character.race.name }} {{ character.class_type.name }}</small></h1>
        </div>
    </div>
    <div class="row-fluid">
        <div id="ability-scores" class="span4">
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Score</th>
                        <th>Ability</th>
                        <th>Mod</th>
                        <th>Mod+1/2 Lvl</th>
                    </tr>
                </thead>
                <tbody>
                {% for ability in character.abilities.all %}
                <tr id="ability-score-{{ability.ability.name}}" class="ability-score">
                    <td class="ability-value">{{ ability.value }}</td>
                    <td class="ability-name">{{ ability.ability.name }}</td>
                    <td class="ability-mod">tbd</td>
                    <td class="ability-mod-level">tbd</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="defenses" class="span4">
            Not really stuff here yet.
        </div>
        <div id="movement" class="span4">
            Movespeed = Base + Armor + Items + Misc
        </div>
    </div>
    {% crispy character_getter_form %}
</div>
{% endblock %}