{% extends "character_builder/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block js %}
<script src="{% static "js/CharacterBuilder.js" %}"></script>
<script src="{% static "js/builder.js" %}"></script>
<script>
    $(function () {
    });
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="page-header span12">
            <h3>Skills</h3>
        </div>
    </div>
    <div id="builder" class="row">
        <div id="builder-ux" class="span4">
            <div id="abilities" class="span4">
            </div>
        </div>
        <div id="info" class="span8">
        </div>
    </div>
</div>
{% endblock %}