{% extends "character_builder/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block js %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
        <script src="{% static "js/backbone-tastypie.js" %}"></script>
        <script src="{% static "js/sheet-test.js" %}"></script>
{% endblock %}
{% block content %}
<div id="app-content">Something is already here.</div>
<a href="character/3">link</a>
{% endblock %}