{% extends "character_builder/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block js %}
<script src="{% static "js/CharacterBuilder.js" %}"></script>
<script src="{% static "js/sheet.js" %}"></script>
{% endblock %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="span2">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Categories</li>
                            <li class="active"><a href="#">Personal</a></li>
                            <li><a href="#features">Features</a></li>
                            <li><a href="#abilities">Abilities</a></li>
                            <li><a href="#feats">Feats</a></li>
                            <li><a href="#skills">Skills</a></li>
                            <li><a href="#powers">Powers</a></li>
                            <li><a href="#equipment">Equipment</a></li>
                        </ul>
                    </div>
                </div>
                <div id="builder-content" class="span9 offset1">
                    <div class="row">
                        <div class="span9 page-header">
                          <h1>{{ character.name }} <small>Level {{ character.level }} {{ character.race.name }} {{ character.class_type.name }}</small></h1>
                        </div>
                        <div id="personal" class="span9">
                            <h4>Personal</h4>
                                                            {{ character.xp }} / {{ next_level.xp_required }} XP
                            <div class="progress progress-striped active">
                                <div class="bar" style="width: {% widthratio character.xp next_level.xp_required 100 %}%;"></div>
                            </div>
                        </div>
                        <div id="features" class="span9">
                            <h4>Features</h4>
                        </div>
                        <div id="abilities" class="span9">
                            <h4>Abilities</h4>
                            <table class="table table-hover table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Score</th>
                                        <th>Ability</th>
                                        <th>Modifier</th>
                                        <th>Modifier + 1/2 Level</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ability in character.abilities.all %}
                                    <tr id="ability-score-{{ability.ability.name}}" class="ability-score">
                                        <td class="ability-value">{{ ability.value }}</td>
                                        <td class="ability-name">{{ ability.ability.name }}</td>
                                        <td class="ability-mod">tbd</td>
                                        <td class="ability-mod-level">tbd</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div> 
                    </div>
                    {% crispy character_getter_form %}
                </div>
            </div>
        </div>
{% endblock %}