{% extends "character_builder/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block js %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

        <script>
            var character_id = {{ character.id }};
        </script>
        <script src="{% static "character_builder/js/CharacterBuilder.js" %}"></script>
         {% if user.is_authenticated %}
        <script src="{% static "character_builder/js/sheet.js" %}"></script>
        {% else %}
        <script src="{% static "character_builder/js/sheet-static.js" %}"></script>
        {% endif %}
{% endblock %}
{% block title %}{{ character.name }} | {{ block.super }}{% endblock %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="span2">
                    <div class="well sidebar-nav affix">
                        <ul id="side-nav" class="nav nav-list">
                            <li class="nav-header">Categories</li>
                            <li id="nav-stats-link" class="active"><a href="#stats">Stats</a></li>
                            <li id="nav-def-link"><a href="#defenses">Defenses</a></li>
                            <li id="nav-abilities-link"><a href="#abilities">Abilities</a></li>
                            <li id="nav-skills-link"><a href="#skills">Skills</a></li>
                            <li id="nav-powers-link"><a href="#powers">Powers</a></li>
                            <li id="nav-notes-link"><a href="#notes">Notes</a></li>
                        </ul>
                    </div>
                </div>
                <div id="builder-content" class="span9 offset1">
                    <div class="row">
                        <div class="page-header">
                            <h1>{{ character.name }} <small>Level <span id="level-text">{{ character.current_level.number }}</span> {{ character.race.name }} {{ character.class_type.name }}</small></h1>
                        </div>
                    </div>
                    <div id="character-stats">
                        <div class="row">
                            <div id="stats" class="span9">
                                <div class="row">
                                    <div class="span4">
                                        <h4>Health</h4>
                                        <span id="hit-points-label">HP:</span><span id="hit-points">{{ character.hit_points}}</span>
                                        <div id="health-bar-parent" class="progress progress-success">
                                            <div id="health-bar" class="bar"></div>
                                        </div>
                                    </div>
                                    <div class="span4 offset1">
                                        <h4>Experience</h4>
                                        <span id="xp-text">{{ character.xp }}</span> / <span id="next-level-xp-text">{{ character.next_level.xp_required }}</span> XP
                                        <div class="progress progress-striped active">
                                            <div id="xp-bar" class="bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="defenses" class="span9">
                                <h4>Defenses</h4>
                                <table class="table table-hover table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Total</th>
                                            <th>Base</th>
                                            <th>Armor</th>
                                            <th>Abil</th>
                                            <th>Class</th>
                                            <th>Feat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>AC</td>
                                            <td>{{ defenses.ac.total }}</td>
                                            <td>{{ defenses.ac.base|add:defenses.ac.race }}</td>
                                            <td>{{ defenses.ac.armor }}</td>
                                            <td>{{ defenses.ac.abil }}</td>
                                            <td>{{ defenses.ac.classtype }}</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>Fort</td>
                                            <td>{{ defenses.fort.total }}</td>
                                            <td>{{ defenses.fort.base|add:defenses.fort.race }}</td>
                                            <td>0</td>
                                            <td>{{ defenses.fort.abil }}</td>
                                            <td>{{ defenses.fort.classtype }}</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>Ref</td>
                                            <td>{{ defenses.ref.total }}</td>
                                            <td>{{ defenses.ref.base|add:defenses.ref.race }}</td>
                                            <td>0</td>
                                            <td>{{ defenses.ref.abil }}</td>
                                            <td>{{ defenses.ref.classtype }}</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>Will</td>
                                            <td>{{ defenses.will.total }}</td>
                                            <td>{{ defenses.will.base|add:defenses.will.race }}</td>
                                            <td>0</td>
                                            <td>{{ defenses.will.abil }}</td>
                                            <td>{{ defenses.will.classtype }}</td>
                                            <td>0</td>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div id="abilities" class="span4">
                                <h4>Abilities</h4>
                                <table class="table table-hover table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Ability</th>
                                            <th>Score</th>
                                            <th>Check</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ability in character.abilities.all %}
                                        <tr id="ability-score-{{ability.ability.name}}" class="ability-score">
                                            <td class="ability-name">{{ ability.ability.name }}</td>
                                            <td class="ability-value">{{ ability.value }}</td>
                                            <td class="ability-mod-level">tbd</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div id="skills" class="span4 offset1">
                                <h4>Skills</h4>
                                <table class="table table-hover table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Skill (Ability)</th>
                                            <th>Trained?</th>
                                            <th>Check</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for skill in character.skills.all %}
                                        <tr id="skill-score-{{ skill.skill.name }}" class="skill-score">
                                            <td class="skill-name">{{ skill.skill.name }} ({{ skill.skill.ability.abbreviation }})</td>
                                            <td class="skill-trained">{% if skill.is_trained %}Yes{% endif %}</td>
                                            <td class="skill-check">{{ skill.modifier_half_level }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="powers">
                        <div class="row">
                            <h3>Powers</h3>
                            <div class="span5">
                            {% for p in character.powers.all %}
                                <div class="power">
                                    <div class="power-header {{ p.power.usage|lower }}">
                                        <span class="power-name pull-left">{{ p.power.name }}</span><span class="power-detail pull-right">{{ p.power.line_detail }}</span>
                                    </div>
                                    <div class="power-flavor">{{ p.power.flavor }}</div>
                                    <div class="power-body">
                                        <div class="power-keywords">
                                            <span class="power-usage bolder">{{ p.power.usage.name }}</span> * 
                                            <span class="power-keyword-detail bolder">
                                                {% for keyword in p.power.keywords.all %}
                                                {{ keyword.name }}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </span>
                                        </div>
                                        <div class="power-action-range">
                                            <span class="power-action-type bolder pull-left">{{ p.power.action_type.name }}</span>
                                            <span class="power-range-line pull-right">
                                                <span class="power-range bolder">{{ p.power.range_type.name }}</span>
                                                <span class="power-range-description">{{ p.power.range_description }}</span>
                                            </span>
                                        </div>
                                        <div class="clearfix"></div>
                                        {% if p.power.target != "" %}
                                        <div class="power-target"><span class="bolder">Target: </span>{{ p.power.target }}</div>
                                        {% endif %}
                                        {% if p.power.attack != "" %}
                                        <div class="power-attack"><span class="bolder">Attack: </span>{{ p.power.attack }}</div>
                                        {% endif %}
                                        {% if p.power.hit != "" %}
                                        <div class="power-hit"><span class="bolder">Hit: </span>{{ p.power.hit|safe }}</div>
                                        {% endif %}
                                        {% if p.power.miss != "" %}
                                        <div class="power-miss"><span class="bolder">Miss: </span>{{ p.power.miss }}</div>
                                        {% endif %}
                                        {% if p.power.effect != "" %}
                                        <div class="power-effect"><span class="bolder">Effect: </span>{{ p.power.effect|safe }}</div>
                                        {% endif %}
                                        {% if p.power.special != "" %}
                                        <div class="power-special"><span class="bolder">Special: </span>{{ p.power.special }}</div>
                                        {% endif %}
                                        {% if p.power.sustain != "" %}
                                        <div class="power-sustain"><span class="bolder">Sustain{% if p.power.sustain_action %} {{ p.power.sustain_action.name }}: {% else %}: {% endif %}</span>{{ p.power.sustain }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div id="notes">
                        <div class="row">
                            <h3>Notes</h3>
                            <div id="note-container">
                                <textarea id="character-notes" rows="20" class="span9" character-id="{{ character.id }}">{{ character.notes }}</textarea>
                                <a id="save-notes-button" class="btn-mini" href="#">
                                    <i class="icon-save"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% crispy character_getter_form %}
            </div>
        </div>
{% endblock %}