{% extends "character_builder/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block js %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

        <script>
            var character_id = {{ character.id }};
        </script>
        <script src="{% static "character_builder/js/CharacterBuilder.js" %}"></script>
        <script src="{% static "character_builder/js/sheet.js" %}"></script>
{% endblock %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="span2">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Categories</li>
                            <li class="active"><a href="#stats">Stats</a></li>
                            <li><a href="#defenses">Defenses</a></li>
                            <li><a href="#abilities">Abilities</a></li>
                            <li><a href="#features">Features</a></li>
                            <li><a href="#feats">Feats</a></li>
                            <li><a href="#skills">Skills</a></li>
                            <li><a href="#powers">Powers</a></li>
                            <li><a href="#equipment">Equipment</a></li>
                        </ul>
                    </div>
                </div>
                <div id="builder-content" class="span9 offset1">
                    <div class="row">
                        <div class="span9 page-header">
                          <h1>{{ character.name }} <small>Level <span id="level-text">{{ character.current_level.number }}</span> {{ character.race.name }} {{ character.class_type.name }}</small></h1>
                        </div>
                        <div id="stats" class="span9">
                            <h4>Stats</h4>
                            <div class="row">
                                <div class="span4">
                                    <span id="hit-points-label">HP:</span><span id="hit-points">{{ character.hit_points}}</span>
                                    <div id="health-bar-parent" class="progress progress-success">
                                        <div id="health-bar" class="bar"></div>
                                    </div>
                                </div>
                                <div class="span4 offset1">
                                    <span id="xp-text">{{ character.xp }}</span> / <span id="next-level-xp-text">{{ character.next_level.xp_required }}</span> XP
                                    <div class="progress progress-striped active">
                                        <div id="xp-bar" class="bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="defenses" class="span9">
                            <h4>Defenses</h4>
                            <table class="table table-hover table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Total</th>
                                        <th>Base</th>
                                        <th>Armor</th>
                                        <th>Abil</th>
                                        <th>Class</th>
                                        <th>Feat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>AC</td>
                                        <td>{{ defenses.ac.total }}</td>
                                        <td>{{ defenses.ac.base|add:defenses.ac.race }}</td>
                                        <td>0</td>
                                        <td>{{ defenses.ac.abil }}</td>
                                        <td>{{ defenses.ac.classtype }}</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Fort</td>
                                        <td>{{ defenses.fort.total }}</td>
                                        <td>{{ defenses.fort.base|add:defenses.fort.race }}</td>
                                        <td>0</td>
                                        <td>{{ defenses.fort.abil }}</td>
                                        <td>{{ defenses.fort.classtype }}</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Ref</td>
                                        <td>{{ defenses.ref.total }}</td>
                                        <td>{{ defenses.ref.base|add:defenses.ref.race }}</td>
                                        <td>0</td>
                                        <td>{{ defenses.ref.abil }}</td>
                                        <td>{{ defenses.ref.classtype }}</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Will</td>
                                        <td>{{ defenses.will.total }}</td>
                                        <td>{{ defenses.will.base|add:defenses.will.race }}</td>
                                        <td>0</td>
                                        <td>{{ defenses.will.abil }}</td>
                                        <td>{{ defenses.will.classtype }}</td>
                                        <td>0</td>
                                    </tr>                                    

                                </tbody>
                            </table>
                        </div>
                        <div id="abilities" class="span9">
                            <h4>Abilities</h4>
                            <table class="table table-hover table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Ability</th>
                                        <th>Score</th>
                                        <th>Check</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ability in character.abilities.all %}
                                    <tr id="ability-score-{{ability.ability.name}}" class="ability-score">
                                        <td class="ability-name">{{ ability.ability.name }}</td>
                                        <td class="ability-value">{{ ability.value }}</td>
                                        <td class="ability-mod-level">tbd</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="features" class="span9">
                            <h4>Features</h4>
                        </div>
                        <div id="skills" class="span9">
                            <h4>Skills</h4>
                            <table class="table table-hover table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Skill (Ability)</th>
                                        <th>Trained?</th>
                                        <th>Check</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for skill in character.skills.all %}
                                    <tr id="skill-score-{{ skill.skill.name }}" class="skill-score">
                                        <td class="skill-name">{{ skill.skill.name }} ({{ skill.skill.ability.abbreviation }})</td>
                                        <td class="skill-trained">{% if skill.is_trained %}Yes{% endif %}</td>
                                        <td class="skill-check">{{ skill.value }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% crispy character_getter_form %}
                </div>
            </div>
        </div>
{% endblock %}